
.comments {
	padding: 50px 0;
	background: #fff;

	&__heading {
		color: #72A5E3;
		font-weight: 900;
		line-height: 1.1;
		font-size: 2.4rem;
		text-align: center;
		margin-bottom: 40px;
		text-transform: uppercase;

		span {
			display: inline-block;
		}
	}

	&__slider {
		padding-bottom: 30px;
		margin-bottom: 35px;
	}

	&__photo {
		width: 129px;
		height: 129px;
		overflow: hidden;
		margin: 0 auto 30px auto;
		@include border-radius(50%);
	}

	&__author {
		color: #3F4A56;
		font-weight: 700;
		font-size: 2.4rem;
		line-height: 3rem;
		text-align: center;
		margin-bottom: 30px;
		text-transform: uppercase;
	}

	&__text {
		color: #3F4A56;
		font-weight: 400;
		font-size: 1.6rem;
		line-height: 2rem;
		font-style: italic;
		margin-bottom: 30px;
		text-align: center;
	}

	&__social {
		color: #fff;
		width: 72px;
		height: 72px;
		margin: 0 auto;
		display: block;
		padding: 15px 0;
		font-size: 42px;
		line-height: 42px;
		text-align: center;
		text-decoration: none;
		@include border-radius(50%);

		&_vk {
			background: #72A5E3;

			&:hover {
				color: #fff;
				background: #2a2a2a;
			}
		}
	}

	.swiper-pagination {
		left: 0;
		right: 0;
		bottom: -7px;
		top: auto;
	}

	.swiper-button-next,
	.swiper-button-prev {
		display: none;
		width: 20px;
		height: 84px;
		background: url("../img/slider__arrow.svg") 50% 50% no-repeat;
		background-size: cover;
	}

	.swiper-button-next {
		@include rotate(180deg);
	}

	@media (min-width: $screen-md-min) {
		padding: 100px 0;

		&__heading {
			font-size: 3.6rem;
			margin-bottom: 60px;

			span {
				padding: 0 60px;
				position: relative;
				display: inline-block;

				&:after,
				&:before {
					top: 5px;
					z-index: 10;
					content: '';
					width: 24px;
					height: 19px;
					position: absolute;
					background: url("../img/icon__quote.svg") 0 0 no-repeat;
				}

				&:after {
					left: 0;
					@include rotate(180deg);
				}

				&:before {
					right: 0;
				}
			}
		}

		&__slider {
			padding-bottom: 0;
		}

		.swiper-slide {
			padding: 0 80px;
		}

		.swiper-button-next,
		.swiper-button-prev {
			top: 220px;
			margin-top: 0;
			display: inline-block;
		}

		.swiper-pagination {
			display: none;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__text {
			font-size: 2rem;
			line-height: 2.6rem;
		}
	}

	@media (min-width: $screen-xl-min) {

		&__heading {
			margin-bottom: 60px;
		}

		&__photo {
			margin-bottom: 50px;
		}

		&__author {
			margin-bottom: 40px;
		}

		&__text {
			width: 930px;
			margin: 0 auto 60px auto;
		}

		.swiper-slide {
			padding: 0;
		}

		.swiper-button-next,
		.swiper-button-prev {
			top: 255px;
		}
	}
}