.promo {
	padding-top: 30px;
	padding-bottom: 40px;
	background: #fff;

	&__wrap {
		width: 300px;
		margin: 0 auto 40px auto;
		position: relative;
		@include flexbox();
		@include flex-wrap(wrap);
	}

	&__left {
		width: 50%;
		margin: 0 auto;
		position: relative;

		span {
			left: 0;
			right: 0;
			top: 50px;
			display: block;
			font-size: 2rem;
			font-weight: 500;
			line-height: 2.4rem;
			text-align: center;
			position: absolute;
			color: $color-blue;
			text-transform: uppercase;
		}
	}

	&__right {
		width: 50%;
		margin: 0 auto;
		position: relative;

		span {
			left: 30px;
			right: 30px;
			top: 30px;
			display: block;
			font-weight: 700;
			font-size: 1.1rem;
			line-height:1.3rem;
			text-align: center;
			position: absolute;
			color: $color-blue;
		}
	}

	&__image {
		max-width: 360px;
		margin: 0 auto;
	}

	&__subtitle {
		color: #818A8B;
		font-size: 2rem;
		font-weight: 700;
		letter-spacing: 2px;
		line-height: 2.4rem;
		text-align: center;
		text-transform: uppercase;
	}

	h1 {
		padding: 0;
		margin: 0 0 5px 0;
		font-weight: 900;
		font-size: 2.6rem;
		line-height: 3rem;
		color: $color-blue;
		text-align: center;
		text-transform: uppercase;
	}


	@media (min-width: $screen-sm-min) {

		h1 {
			font-size: 3.2rem;
			line-height: 3.6rem;
		}
	}

	@media (min-width: $screen-md-min) {

		&__wrap {
			width: 100%;
			padding-top: 260px;
		}

		&__left {
			top: 0;
			left: 0;
			width: 290px;
			position: absolute;

			span {
				top: 95px;
				display: block;
				font-size: 3.6rem;
				font-weight: 500;
				line-height: 3.6rem;
			}
		}

		&__right {
			top: 0;
			right: 0;
			width: 290px;
			position: absolute;

			span {
				left: 30px;
				right: 30px;
				top: 70px;
				display: block;
				font-weight: 700;
				font-size: 1.6rem;
				line-height: 2.4rem;
				text-transform: uppercase;
			}
		}

		&__subtitle {
			font-size: 2.4rem;
			line-height: 3rem;
		}

		h1 {
			font-size: 4rem;
			line-height: 4.6rem;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__wrap {
			padding-top: 150px;
			margin-bottom: 60px;
		}

		&__image {
			width: 500px;
			max-width: inherit;
			position: relative;
		}

		&__subtitle {
			letter-spacing: 6px;
		}

		h1 {
			font-size: 5rem;
			line-height: 6rem;
			margin-bottom: 0;
		}
	}
	@media (min-width: $screen-xl-min) {
		padding-bottom: 60px;

		&__wrap {
			padding-top: 135px;
			margin-bottom: 90px;
		}


		&__left {
			left: 20px;
			width: 323px;

			span {
				top: 115px;
			}
		}

		&__right {
			width: 390px;

			span {
				top: 110px;
				left: 50px;
				right: 50px;
				font-size: 2rem;
				line-height: 2.8rem;
			}
		}

		&__image {
			width: 647px;
			left: -20px;
		}
	}
}