
.header {
	z-index: 1010;
	padding: 15px 0;
	position: relative;

	&__row {
//		@include flexbox();
//		@include justify-content(flex-end);
		@include clearfix();
	}

	&__logo {
		width: 172px;
		float: left;
		display: block;

		&_img {
			width: 172px;
			display: block;
		}

		&_text {

		}
	}

	&__account {
		width: 44px;
		height: 44px;
		float: right;
		font-size: 0;
		line-height: 0;
		cursor: pointer;
		background: #fff;
		display: inline-block;
		@include border-radius(50%);
		@include box-shadow(0px 0px 13px 0px rgba(184, 227, 255, 0.6));

		.ico-svg {
			fill: #fff;
			opacity: 0.8;
			stroke: #72A5E3;
		}

		&:hover {
			@include box-shadow(0px 0px 13px 0px rgba(184, 227, 255, 1));

			.ico-svg {
				opacity: 1;
			}
		}
	}

	&__toggle {
		width: 44px;
		height: 44px;
		float: right;
		font-size: 0;
		margin-left: 15px;
		padding: 14px 10px 0 10px;
		line-height: 0;
		background: #fff;
		position: relative;
		display: inline-block;
		@include transition(.3s);
		@include border-radius(50%);
		@include box-shadow(0px 0px 13px 0px rgba(184, 227, 255, 0.6));

		span {
			width: 100%;
			height: 2px;
			margin-bottom: 5px;
			background: #89B6FF;
			display: inline-block;
		}
	}

	&__learn {
		color: #fff;
		border: none;
		outline: none;
		cursor: pointer;
		font-weight: 700;
		font-size: 1.7rem;
		line-height: 2rem;
		user-select: none;
		text-align: center;
		white-space: nowrap;
		background: #89B6FF;
		text-decoration: none;
		display: inline-block;
		vertical-align: middle;
		text-transform: uppercase;
		padding: 14px 30px 10px 30px;
		@include border-radius(22px);
		@include transition(.2s);

		&:hover {
			color: #fff;
			background: #5197FF;
			text-decoration: none;
		}

		&:focus,
		&.focus {
			outline: 0;
		}

		&:active {
			background: #89B6FF;
		}
	}

	&__nav {
		top: 0;
		left: 0;
		height: 100vh;
		width: 240px;
		z-index: 1020;
		display: block;
		position: fixed;
		background: #fff;
		padding: 30px 20px;
		margin-left: -260px;
		@include box-shadow(0px 0px 13px 0px rgba(184, 227, 255, 0.6));
		@include transition(.3s);

		> ul {
			padding: 0;
			font-size: 0;
			line-height: 0;
			list-style: none;
			margin: 0 0 15px 0;

			> li {

				> a {
					width: 100%;
					color: #9E9E9E;
					font-weight: 600;
					text-decoration: none;
					display: inline-block;
					text-transform: uppercase;

					span {
						z-index: 10;
						padding: 8px 0;
						font-size: 1.3rem;
						line-height: 2rem;
						position: relative;
						display: inline-block;
					}


					&:hover {
						color: $color-blue;
					}
				}

				&.active {

					> a {
						color: $color-blue;
					}
				}
			}
		}
	}

	&__auth {
		font-size: 0;
		line-height: 0;
		display: inline-block;
		color: rgba(54, 58, 63, 0.57);

		a {
			font-weight: 700;
			font-size: 1.5rem;
			line-height: 2rem;
			display: inline-block;
			text-decoration: none;
			text-transform: uppercase;


			&:first-child {
				color: rgba(54, 58, 63, 0.57);

				&:hover {
					color: #78A6DE;
					text-decoration: none;
				}
			}

			&:last-child {
				color: #78A6DE;

				&:hover {
					color: rgba(54, 58, 63, 0.57);
					text-decoration: none;
				}
			}
		}

		b {
			padding: 0 7px;
			font-weight: 400;
			font-size: 1.7rem;
			line-height: 2rem;
			display: inline-block;
		}
	}

	@media (min-width: $screen-sm-min) {

	}

	@media (min-width: $screen-md-min) {

	}

	@media (min-width: $screen-lg-min) {
		padding-top: 25px;
		padding-bottom: 25px;

		&__toggle {
			display: none;
		}

		&__account {
			margin-left: 30px;
		}

		&__learn {
			margin-left: 20px;
		}

		&__nav {
			padding: 0;
			top: auto;
			left: auto;
			right: auto;
			width: auto;
			height: auto;
			float: right;
			margin-left: 0;
			position: relative;
			background: transparent;
			@include flexbox();
			@include box-shadow(none);

			> ul {
				margin: 0;
				padding: 0;
				list-style: none;
				@include flexbox();

				> li {

					> a {

						span {
							padding: 14px 10px 10px 10px;
						}
					}
				}
			}
		}

		&__auth {
			padding: 0 0 0 20px;

			&_wrap {
				padding: 11px 15px 9px 15px;
				border: 2px solid #89B6FF;
				@include border-radius(22px);

				a {
					letter-spacing: 0.5px;
				}
			}
		}
	}

	@media (min-width: $screen-xl-min) {
		padding-top: 45px;
		padding-bottom: 25px;

		&__account {
			width: 57px;
			height: 57px;
			margin: -3px 0 0 40px;
		}

		&__nav {
			padding-top: 5px;

			> ul {

				> li {
					margin: 0 5px;

					> a {
						height: 44px;
						text-align: center;
						position: relative;

						&:before {
							top: 0;
							left: 0;
							right: 0;
							height: 100%;
							content: '';
							opacity: 0;
							visibility: hidden;
							position: absolute;
							display: inline-block;
						}

						span {
							z-index: 10;
							display: inline-block;
						}

						&:hover {
							color: #fff;

							&:before {
								opacity: 1;
								visibility: visible;
							}
						}
					}

					&.active {

						> a {
							color: #fff;

							&:before {
								opacity: 1;
								visibility: visible;
							}
						}
					}

					&:nth-child(1) {

						> a {
							width: 104px;

							&:before {
								top: -1px;
								height: 46px;
								background: url("../img/header_nav__elem_01.svg") 50% 50% no-repeat;
							}
						}
					}

					&:nth-child(2) {

						> a {
							width: 104px;

							&:before {
								top: -3px;
								height: 49px;
								background: url("../img/header_nav__elem_02.svg") 50% 50% no-repeat;
							}
						}
					}

					&:nth-child(3) {

						> a {
							width: 104px;

							&:before {
								top: 0px;
								height: 46px;
								background: url("../img/header_nav__elem_03.svg") 50% 50% no-repeat;
							}
						}
					}

					&:nth-child(4) {

						> a {
							width: 195px;

							&:before {
								top: -12px;
								left: -2px;
								right: -2px;
								height: 70px;
								background: url("../img/header_nav__elem_04.svg") 50% 50% no-repeat;
							}
						}
					}

					&:nth-child(5) {

						> a {
							width: 88px;

							&:before {
								top: -6px;
								height: 59px;
								background: url("../img/header_nav__elem_05.svg") 50% 50% no-repeat;
							}
						}
					}
				}
			}
		}

		&__auth {

			&_wrap {
				padding: 11px 30px 9px 35px;
			}

			a {
				font-size: 1.7rem;
			}

			b {
				font-size: 1.7rem;
			}
		}
	}
}



