
.simulator {
	@include flex-grow(1);
//	background: url("../img/trainer__bg.png") 50% 50% no-repeat;
	background-size: cover;
	@include flexbox();
	@include flex-direction(column);

	.container {
		height: 100%;
		padding-top: 45px;
		position: relative;
		@include flex-grow(1);
	}

	&__heading {
		padding-top: 30px;

		h1 {
			margin-bottom: 35px;
		}
	}

	&__scale {
		top: -10px;
		right: 15px;
		margin: 0;
		padding: 0 50px 0;
		list-style: none;
		position: absolute;
		@include flexbox();
		@include justify-content(flex-end);

		&:before {
			right: 0;
			top: -12px;
			width: 42px;
			height: 33px;
			content: '';
			display: block;
			position: absolute;
			background: url("../img/trainer__smile.svg") 50% 50% no-repeat;
			background-size: cover;
		}

		> li {
			width: 40px;
			height: 10px;
		}

		&_yellow{
			background: #FAD117;
		}

		&_red {
			background: #F24713;
		}

		&_brown {
			background: #B7000F;
		}
	}

	&__time {
		margin-bottom: 60px;
		@include flexbox();
		@include justify-content(flex-end);

		span {
			color: #fff;
			padding: 10px 15px;
			font-weight: 700;
			font-size: 2.4rem;
			line-height: 3rem;
			text-align: center;
			background: #3E383D;
			display: inline-block;
			@include border-radius(22px);
		}
	}

	&__question {
		color: #fff;
		display: block;
		font-weight: 700;
		font-size: 1.4rem;
		line-height: 2rem;
		position: relative;
		background: #9CC1FF;
		padding: 15px 25px;
		margin-bottom: 25px;
		@include border-radius(15px);
	}

	&__response {

		li {

		}
	}

	&__option {
		font-size: 0;
		line-height: 0;
		display: block;
		font-weight: 400;
		margin-bottom: 2px;

		input {
			display: none;
		}

		span {
			color: #000;
			display: block;
			font-weight: 400;
			font-size: 1.4rem;
			line-height: 2rem;
			position: relative;
			background: #E7F0FF;
			border: 1px solid #1e1e1e;
			padding: 20px 30px 20px 40px;
			@include border-radius(15px);

			&:before {
				top: 20px;
				left: 20px;
				position: absolute;
				display: inline-block;
				content: attr(data-option);
			}
		}

		input:checked + span {
			color: #fff;
			font-weight: 600;
			background: #9CC1FF;
		}

		&_good {

			input:checked + span {
				background: #71bf44;
			}
		}

		&_valid {

		}

		&_invalid {

			input:checked + span {
				background: #d85c5c;
			}
		}
	}

	&__user {
		display: none;

		&.active {
			display: block;
		}
	}

	&__row {
		position: relative;
	}

	&__left {
		z-index: 10;
		position: relative;
	}

	&__right {
		z-index: 1;
		left: 50%;
		top: -210px;
		width: 400px;
		margin-left: -200px;
		position: absolute;
	}

	&__result {
		width: 100%;
		display: none;
		margin: auto 0;
		padding: 30px 20px;
		@include border-radius(20px);
		background: rgba(255, 255, 255, 0.86);

		&_image {
			width: 200px;
			margin: 0 auto 30px auto;
		}

		&_text {
			color: #000;
			font-size: 1.6rem;
			line-height: 2rem;
			text-align: center;
			margin-bottom: 40px;
		}
	}

	&_good {

		.simulator__test {
			display: none;
		}

		.simulator__result_good {
			display: block
		}

		.simulator__user_base {
			display: none;
		}

		.simulator__user_good {
			display: block;
		}
	}

	&_valid {

		.simulator__test {
			display: none;
		}

		.simulator__result_valid {
			display: block
		}

		.simulator__user_base {
			display: none;
		}

		.simulator__user_valid {
			display: block;
		}
	}

	&_invalid {

		.simulator__test {
			display: none;
		}

		.simulator__result_invalid {
			display: block
		}

		.simulator__user_base {
			display: none;
		}

		.simulator__user_invalid {
			display: block;
		}
	}

	@media (min-width: $screen-sm-min) {

		&__right {
			margin-left: -235px;
		}

	}

	@media (min-width: $screen-md-min) {

		.container {
			padding-top: 0;
		}

		&__time {
			margin: 0;
			position: relative;

			span {
				right: 0;
				bottom: -100px;
				position: absolute;
			}
		}


		&__image {
			display: block;
		}

		.container {
			@include flexbox();
			@include flex-direction(column);
		}

		&__user {
			max-width: 100%;
		}

		&__row {
			height: 100%;
			@include flexbox();
			@include flex-grow(1);
		}

		&__left {
			margin-bottom: 0;
			padding: 50px 10px 60px 0;
			@include flex-grow(1);
			@include flexbox();
		}

		&__right {
			margin: 0;
			top: auto;
			left: auto;
			width: 350px;
			position: relative;
			@include flex-shrink(0);
			@include flexbox();
			@include flex-direction(column);
			@include justify-content(flex-end)
		}

		&__test {
			@include flex-grow(1);
			@include flexbox();
			@include flex-direction(column);
			@include justify-content(space-between);
		}

		&__result {
			padding: 50px 30px;
		}

		&__option {
			margin-bottom: 10px;
		}


		&_good {

			.simulator__test {
				display: none;
			}

			.simulator__result_good {
				display: block
			}

			.simulator__user_base {
				display: none;
			}

			.simulator__user_good {
				display: block;
			}
		}

		&_valid {

			.simulator__test {
				display: none;
			}

			.simulator__result_valid {
				display: block
			}

			.simulator__user_base {
				display: none;
			}

			.simulator__user_valid {
				display: block;
			}
		}

		&_invalid {

			.simulator__test {
				display: none;
			}

			.simulator__result_invalid {
				display: block
			}

			.simulator__user_base {
				display: none;
			}

			.simulator__user_invalid {
				display: block;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		&__question {
			font-size: 1.8rem;
			line-height: 2.4rem;
		}

		&__option {

			span {
				font-size: 1.8rem;
				line-height: 2.4rem;
				padding-left: 50px;
			}
		}

		&__right {
			width: 330px;
		}

		&__result {
			padding: 45px 45px;

			&_image {
				width: 350px;
				margin-bottom: 50px;
			}

			&_text {
				font-size: 2.4rem;
				line-height: 2.8rem;
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		&__question {
			font-size: 2.4rem;
			line-height: 2.9rem;
		}

		&__option {

			span {
				font-size: 2.4rem;
				line-height: 2.9rem;
			}
		}

		&__right {
			width: 459px;
		}

		&__result {
			padding: 40px 45px;

			&_image {
				width: 430px;
			}

			&_text {
				font-size: 2.7rem;
				line-height: 3.2rem;
			}
		}
	}
}
