.advantage {
	padding-top: 20px;
	padding-bottom: 50px;

	&__row {
		padding: 0;
		margin: 0 -15px;
		list-style: none;
		@include flexbox();
		@include flex-wrap(wrap);

		li {
			width: 100%;
			color: #3F4A56;
			padding: 0 15px;
			font-size: 2rem;
			line-height: 2.6rem;
			text-align: center;
			margin-bottom: 50px;

			&:nth-child(1) {

				.advantage__image {
					width: 130px;
				}
			}

			&:nth-child(2) {

				.advantage__image {
					width: 90px;
				}
			}

			&:nth-child(3) {

				.advantage__image {
					width: 119px;
				}
			}

			&:nth-child(4) {
				margin-bottom: 0;

				.advantage__image {
					width: 120px;
				}
			}

			span {
				display: block;
				margin: 0 auto;
			}
		}
	}

	&__image {
		margin: 0 auto 30px auto;
	}

	@media (min-width: $screen-md-min) {
		padding-top: 40px;

		&__row {

			li {
				width: 50%;

				&:nth-child(2) {

					.advantage__image {
						padding-top: 10px;
					}
				}

				&:nth-child(4) {

					.advantage__image {
						padding-top: 20px;
					}
				}
			}
		}

		&__image {
			height: 151px;

		}
	}

	@media (min-width: $screen-lg-min) {
		padding-bottom: 50px;

		&__row {

			li {
				width: 25%;
				margin-bottom: 0;

				&:nth-child(1) {

					.advantage__image {
						padding-top: 20px;
					}
				}

				&:nth-child(2) {

					.advantage__image {
						padding-top: 30px;
					}

					span {
						max-width: 150px;
					}
				}

				&:nth-child(3) {

					span {
						max-width: 180px;
					}
				}

				&:nth-child(4) {

					.advantage__image {
						padding-top: 20px;
					}
				}
			}
		}
	}

	@media (min-width: $screen-xl-min) {
		padding-top: 60px;
		padding-bottom: 80px;
	}

}