.modal {
	margin: 0;
	width: 85%;
	font-size: 1.4rem;
	line-height: 2rem;
	max-width: 360px;
	position: relative;
	padding: 40px 20px;
	font-family: $font-family-base;
	background: url("../img/modal__bg.jpg") 50% 50% no-repeat;
	background-size: cover;

	&__heading {
		font-size: 1.2rem;
		line-height: 1.4rem;
		text-align: center;
		margin-bottom: 25px;

		&_title {
			color: #000;
			font-weight: 700;
			font-size: 2.4rem;
			line-height: 3rem;
		}

		span {
			color: #000;
			display: block;
			padding: 5px 0;
			font-size: 1.2rem;
			line-height: 1.4rem;
		}

		a {
			color: $color-blue;
			text-decoration: underline;

			&:hover {
				color: $color-blue;
				text-decoration: none;
			}
		}
	}

	&__body {

		.btn {
			width: 100%;
		}
	}

	&__image {
		display: none;
	}

	&__row {

		&_left {

		}
	}

	&__social {

		&_title {
			font-weight: 700;
			font-size: 1.4rem;
			line-height: 1.85rem;
			text-align: center;
			color: $color-blue;
			margin-bottom: 20px;
		}

		ul {
			margin: 0;
			padding: 0;
			font-size: 0;
			line-height: 0;
			list-style: none;
			@include flexbox();
			@include justify-content(center);

			li {
				padding: 0 7px;
				display: inline-block;

				a {
					color: #fff;
					width: 32px;
					height: 32px;
					padding: 6px 0;
					font-size: 20px;
					line-height: 20px;
					text-align: center;
					display: inline-block;
					text-decoration: none;
					background: $color-blue;
					@include border-radius(50%);

					&:hover {
						color: #fff;
						text-decoration: none;
						background: #5d5b5b;
					}
				}
			}
		}
	}

	&__recover {
		font-weight: 700;
		font-size: 1.2rem;
		margin-left: 15px;
		line-height: 1.8rem;
		display: inline-block;
	}

	&__success {
		text-align: center;

		&_image {
			width: 250px;
			margin: 0 auto 15px auto;

			img {
				left: -10px;
				position: relative;
			}
		}

		&_title {
			color: #000;
			font-size: 2rem;
			font-weight: 900;
			line-height: 2rem;
			margin-bottom: 15px;
			text-transform: uppercase;
		}

		&_text {
			color: #000;
			font-size: 1.2rem;
			line-height: 1.6rem;
			margin-bottom: 25px;
		}
	}

	.fancybox-close-small {
		outline: none;
		font-size: 0;
		line-height: 0;
		color: transparent;

		&:after,
		&:before {
			width: 24px;
			height: 1px;
			content: '';
			left: 50%;
			top: 50%;
			outline: none;
			margin-left: -12px;
			background: #72A5E3;
			display: block;
			position: absolute;
			@include border-radius(0)
		}

		&:after {
			@include rotate(45deg);
		}

		&:before {
			@include rotate(-45deg);
		}
	}

	@media (min-width: $screen-md-min) {
		width: 590px;
		padding: 50px 130px 40px 70px;
		max-width: inherit;

		&__heading {
			padding-left: 85px;
		}

		&__row {
			@include flexbox();

			&_left {
				width: 100px;
				min-height: 1px;
				margin-bottom: 0;
				padding-right: 10px;
				@include flexbox();
				@include flex-shrink(0)
			}

			&_right {
				@include flex-grow(1);
			}
		}

		.form_label {
			margin: auto 0;

			&_top {
				margin: 0;
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		width: 778px;
		height: 600px;
		padding: 50px 190px 40px 110px;

		&__image {
			right: 22px;
			bottom: 22px;
			width: 149px;
			height: 252px;
			display: block;
			position: absolute;
		}
	}
}

#recovery {

	@media (min-width: $screen-lg-min) {
		padding-top: 170px;
	}
}

#new_pass {

	@media (min-width: $screen-lg-min) {
		padding-top: 140px;
	}
}

.success {

	@media (min-width: $screen-md-min) {
		padding: 50px 70px 40px 70px;
	}

	@media (min-width: $screen-lg-min) {
		padding: 50px 110px 40px 110px;
	}
}

/*

#success_message {

	@media (min-width: $screen-md-min) {
		padding: 50px 70px 40px 70px;
	}

	@media (min-width: $screen-lg-min) {
		padding: 50px 110px 40px 110px;
	}
}

*/

#feedback {

	@media (min-width: $screen-lg-min) {
		padding-top: 120px;
	}
}

#write {

	@media (min-width: $screen-lg-min) {
		padding-top: 140px;
	}
}

/*

#success_write {

	@media (min-width: $screen-md-min) {
		padding: 50px 70px 40px 70px;
	}

	@media (min-width: $screen-lg-min) {
		padding: 50px 110px 40px 110px;
	}
}

*/