.wave {
	padding-top: 40px;
	padding-bottom: 40px;
	@include gradient-vertical(#a4d4fc, #ffffff);

	&__subtitle {
		color: #CEF0FF;
		font-weight: 700;
		font-size: 1.8rem;
		line-height: 2.2rem;
		text-align: center;
		margin-bottom: 10px;
	}

	&__title {
		color: #fff;
		font-weight: 900;
		font-size: 2.4rem;
		line-height: 3rem;
		text-align: center;
		margin-bottom: 40px;
		text-transform: uppercase;
	}

	@media (min-width: $screen-md-min) {
		padding-top: 60px;
		padding-bottom: 60px;

		&__title {
			font-size: 4.8rem;
			line-height: 5.2rem;
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-top: 235px;
		background: url("../img/second__bg.jpg") 50% 0 no-repeat;

		&_prize {
			padding-top: 265px;

			.wave__title {
				margin-bottom: 80px;
			}
		}
	}
}

.user {
	color: #5E5E5E;
	padding-top: 30px;
	font-size: 1.6rem;
	line-height: 2rem;
	padding-bottom: 50px;

	&__row {
		text-align: center;
	}

	&__left {
		margin-bottom: 20px;
	}

	&__center {
		margin-bottom: 30px;
	}

	&__photo {
		width: 150px;
		height: 150px;
		display: block;
		overflow: hidden;
		margin: 0 auto;
		@include border-radius(50%);
		@include box-shadow(0px 0px 13px 0px rgba(184, 227, 255, 0.5));
	}

	&__title {
		font-weight: 900;
		line-height: 1.2;
		font-size: 2.8rem;
		color: $color-blue;
		margin-bottom: 10px;
		text-transform: uppercase;
	}

	&__rate {
		font-weight: 700;
		line-height: 1.2;
		font-size: 2.8rem;
		margin-bottom: 15px;

		span {
			color: $color-blue;
		}
	}

	&__history {
		color: #5E5E5E;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}

	&__status {
		font-weight: 700;
		line-height: 1.2;
		font-size: 2.8rem;
		color: $color-blue;
		margin-bottom: 15px;
	}

	&__next {
		text-decoration: none;
		margin-bottom: 15px;

		strong {
			font-size: 2rem;
			color: $color-blue;
		}

		span {
			color: $color-blue;
		}
	}

	&__completed {
	}

	&__text {
		font-size: 1.8rem;
		line-height: 2.4rem;
	}

	@media (min-width: $screen-md-min) {

		&__row {
			text-align: left;
			@include flexbox();
		}

		&__left {
			margin-bottom: 0;
			padding-right: 20px;
		}

		&__center {
			margin-bottom: 0;
			padding-right: 30px;
		}
	}

	@media (min-width: $screen-lg-min) {
		font-size: 2rem;
		line-height: 2.6rem;
		padding-bottom: 30px;

		&__left {
			padding-right: 50px;
		}

		&__center {
			padding-right: 50px;
		}

		&__photo {
			width: 202px;
			height: 202px;
		}

		&__title {
			font-size: 3.6rem;
			margin-bottom: 20px;
		}

		&__rate {
			font-size: 3.6rem;
			margin-bottom: 20px;
		}

		&__status {
			font-size: 3.6rem;
			margin-bottom: 20px;
		}

		&__next {
			margin-bottom: 20px;

			strong {
				font-size: 2.4rem;
			}
		}

		&__text {
			font-size: 2.8rem;
			line-height: 3.4rem;
		}
	}

	@media (min-width: $screen-xl-min) {
		font-size: 2.2rem;
		line-height: 2.8rem;

		&__left {
			padding-right: 100px;
		}

		&__center {
			padding-right: 120px;
		}

		&__photo {
			width: 202px;
			height: 202px;
		}

		&__title {
			font-size: 4.5rem;
			margin-bottom: 20px;
		}

		&__rate {
			font-size: 4.5rem;
			margin-bottom: 20px;
		}

		&__status {
			font-size: 4.5rem;
			margin-bottom: 20px;
		}

		&__next {

			strong {
				font-size: 2.5rem;
			}
		}
	}
}

.module {
	width: 260px;
	height: 260px;
	display: table;
	background: #fff;
	position: relative;
	margin: 0 auto 50px auto;
	@include border-radius(50%);
	@include box-shadow(0px 0px 8px 0px rgba(126, 166, 204, 0.3));

	&_first {
		margin-bottom: 70px;
	}

	&__wrap {
		width: 260px;
		height: 260px;
		position: relative;
		display: table-cell;
		vertical-align: middle;
	}

	&__image {
		width: 70px;
		margin: 0 auto;

		&_lg {
			width: 80px;
			margin: 0 auto;
		}
	}

	&__title {
		top: 30px;
		left: 50%;
		width: 160px;
		font-size: 1.6rem;
		font-weight: 700;
		line-height: 2rem;
		margin-left: -80px;
		text-align: center;
		position: absolute;
		color: $color-blue;
	}

	&__text {
		left: 0;
		right: 0;
		bottom: 40px;
		color: #000000;
		font-size: 2rem;
		line-height: 2.4rem;
		text-align: center;
		position: absolute;
	}

	&__rate {
		top: 50%;
		right: -20px;
		color: #fff;
		font-size: 1.6rem;
		line-height: 2rem;
		position: absolute;
		padding: 10px 15px;
		background: #9CC1FF;
		margin-top: -20px;
		@include border-radius(20px);
	}

	&__status {
		left: 0;
		right: 0;
		bottom: -20px;
		font-size: 0;
		line-height: 0;
		text-align: center;
		position: absolute;

		span {
			color: #fff;
			font-weight: 700;
			padding: 15px 40px;
			font-size: 2.8rem;
			line-height: 3rem;
			background: #9CC1FF;
			display: inline-block;
			text-transform: uppercase;
			@include border-radius(30px);
		}
	}

	&__social {
		padding: 0;
		width: 132px;
		list-style: none;
		margin: 0 auto;
		@include flexbox();
		@include flex-wrap(wrap);
		@include justify-content(space-between);

		li {
			margin: 0 8px 10px 8px;

			a {
				color: #fff;
				width: 50px;
				height: 50px;
				padding: 10px 0;
				font-size: 30px;
				line-height: 30px;
				text-align: center;
				display: inline-block;
				background: $color-blue;
				@include border-radius(50%);

				&:hover {
					background: #3E383D;
				}
			}
		}
	}

	&__subscribe {
		width: 170px;
		color: #3E383D;
		margin: 0 auto;
		padding-top: 10px;
		text-align: center;
		font-weight: 700;
		font-size: 1.8rem;
		line-height: 2.2rem;
		text-transform: uppercase;
	}

	@media (min-width: $screen-md-min) {
		margin-bottom: 30px;

		&__row {
			@include flexbox();
			@include flex-wrap(wrap);
			@include justify-content(space-around);
		}

		&_first {
			margin: 0 150px 50px 150px;
		}
	}

	@media (min-width: $screen-lg-min) {
		width: 352px;
		height: 352px;

		&__wrap {
			width: 352px;
			height: 352px;
		}

		&_first {
			width: 352px;
			height: 352px;
			margin: 0 250px 80px 250px;

			.module__wrap {

			}
		}

		&_last {
			margin: 20px 250px 0 250px;
		}

		&__image {
			width: 130px;
			margin: 0 auto;

			&_lg {
				width: 130px;
				margin: 0 auto;
			}
		}

		&__title {
			top: 40px;
			width: 200px;
			margin-left: -100px;
			font-size: 2.1rem;
			line-height: 2.5rem;
		}

		&__text {
			bottom: 50px;
			font-size: 2.4rem;
			line-height: 2.8rem;
		}

		&__status {
			bottom: -20px;

			span {
				padding: 15px 50px;
				font-size: 3.2rem;
				line-height: 4rem;
				@include border-radius(35px);
			}
		}

		&__rate {
			right: -40px;
			padding: 10px 20px;
			font-size: 2.2rem;
			line-height: 2.6rem;
			margin-top: -23px;
			@include border-radius(23px);
		}


		&__social {
			width: 156px;

			li {

				a {
					width: 62px;
					height: 62px;
					padding: 16px 0;
				}
			}
		}

		&__subscribe {
			width: 200px;
			padding-top: 15px;
			font-size: 2.2rem;
			line-height: 2.8rem;
		}
	}

	@media (min-width: $screen-xl-min) {
		width: 412px;
		height: 412px;

		&__wrap {
			width: 412px;
			height: 412px;
		}

		&_first {
			width: 352px;
			height: 352px;

			.module__wrap {
				width: 352px;
				height: 352px;
			}
		}

		&_last {
			width: 352px;
			height: 352px;

			.module__wrap {
				width: 352px;
				height: 352px;
			}
		}

		&__image {
			width: 150px;
		}

		&__title {
			top: 50px;
		}

		&__text {
			bottom: 55px;
		}
	}
}

.prize {
	width: 290px;
	height: 290px;
	background: #fff;
	position: relative;
	margin: 0 auto 70px auto;
	@include border-radius(50%);
	@include box-shadow(0px 0px 8px 0px rgba(126, 166, 204, 0.4));

	&__wrap {
		width: 290px;
		height: 290px;
		position: relative;
		display: table-cell;
		vertical-align: middle;
	}

	&__row {

	}


	&__image {
		width: 90px;
		margin: 0 auto;
	}

	&__date {
		left: 0;
		right: 0;
		top: 20px;
		color: #000;
		font-weight: 700;
		font-size: 1.6rem;
		line-height: 2rem;
		text-align: center;
		position: absolute;
	}

	&__event {
		left: 50%;
		top: 50px;
		width: 180px;
		font-weight: 700;
		font-size: 2rem;
		line-height: 2.4rem;
		margin-left: -90px;
		text-align: center;
		position: absolute;
		color: $color-blue;
		text-transform: uppercase;
	}

	&__status {
		left: 0;
		right: 0;
		bottom: 60px;
		color: #000;
		font-weight: 700;
		font-size: 1.4rem;
		line-height: 2rem;
		text-align: center;
		position: absolute;
		text-transform: uppercase;
	}

	&__name {
		left: 0;
		right: 0;
		font-size: 0;
		line-height: 0;
		bottom: -10px;
		position: absolute;
		text-align: center;

		span {
			color: #fff;
			font-size: 1.8rem;
			font-weight: 700;
			line-height: 3rem;
			padding: 10px 25px;
			text-align: center;
			display: inline-block;
			background: $color-blue;
			text-transform: uppercase;
			@include border-radius(25px)
		}
	}

	@media (min-width: $screen-md-min) {
		width: 320px;
		height: 320px;
		margin: 0 0 80px 0;

		&__image {
			width: 120px;
		}

		&__wrap {
			width: 320px;
			height: 320px;
		}

		&__row {
			@include flexbox();
			@include flex-wrap(wrap);
			@include justify-content(space-between);
		}
	}

	@media (min-width: $screen-lg-min) {
		width: 440px;
		height: 440px;
		margin: 0 0 110px 0;


		&__wrap {
			width: 440px;
			height: 440px;
		}

		&__image {
			width: 140px;
		}

		&__date {
			top: 35px;
			font-size: 2.2rem;
			line-height: 2.6rem;
		}

		&__event {
			top: 80px;
			width: 270px;
			margin-left: -135px;
			font-size: 2.8rem;
			line-height: 3.2rem;
		}

		&__status {
			bottom: 90px;
			font-size: 1.8rem;
			line-height: 2rem;
		}

		&__name {
			bottom: -15px;

			span {
				min-width: 85%;
				font-size: 2.4rem;
				padding: 20px 35px;
				@include border-radius(35px)
			}
		}
	}

	@media (min-width: $screen-xl-min) {
		width: 536px;
		height: 536px;

		&__wrap {
			width: 536px;
			height: 536px;
		}

		&__image {
			width: 160px;
		}

		&__date {
			top: 55px;
			font-size: 2.2rem;
			line-height: 2.6rem;
		}

		&__event {
			top: 100px;
			width: 320px;
			margin-left: -160px;
			font-size: 3.4rem;
			line-height: 4rem;
		}

		&__status {
			bottom: 100px;
			font-size: 2.2rem;
			line-height: 2.6rem;
		}

		&__name {
			bottom: -15px;

			span {
				min-width: 85%;
				font-size: 2.6rem;
				padding: 25px 35px;
				@include border-radius(40px)
			}
		}
	}
}
