
.profile {

	&__heading {
		font-weight: 700;
		line-height: 1.2;
		text-align: center;
		margin-bottom: 60px;

		&_title {
			font-size: 2.4rem;
			color: $color-blue;
			text-transform: uppercase;

		}

		&_info {
			color: #5E5E5E;
			font-size: 2rem;
		}
	}

	&__nav {
		text-align: center;
		margin-bottom: 15px;

		&_title {

			color: #393939;
			font-weight: 900;
			font-size: 2.5rem;
			line-height: 3.3rem;
			margin-bottom: 15px;
			text-transform: uppercase;
		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {

				a {
					padding: 10px 0;
					font-weight: 700;
					font-size: 1.4rem;
					line-height: 2rem;
					color: $color-blue;
					white-space: nowrap;
					display: inline-block;
					text-decoration: none;
					text-transform: uppercase;

					&:hover {
						color: #313541;
						text-decoration: none;
					}
				}

				&.active {

					a {
						color: #313541;
					}
				}
			}
		}
	}

	&__content {
		padding: 20px 20px 40px 20px;
		background: #fff;
		@include box-shadow(0px 0px 15px rgba(112, 168, 234, 0.2));
	}

	&_text {
		font-weight: 700;
		font-size: 1.4rem;
		line-height: 1.8rem;
	}

	&__photo {
		@include flexbox();

		&_item {
			width: 150px;
			overflow: hidden;
			border: 1px solid #89B6FF;
			@include border-radius(3px);
			@include flex-shrink(0);
		}

		&_text {
			padding-left: 20px;
			@include flex-grow(1);
		}

		&_remove {
			color: #FF475E;
			font-weight: 700;
			font-size: 1.4rem;
			line-height: 1.8rem;
			text-decoration: underline;

			&:hover {
				color: #FF475E;
				text-decoration: none;
			}
		}
	}

	&__social {
		margin: 0;
		padding: 0;
		color: #000;
		list-style: none;
		font-weight: 700;
		font-size: 1.4rem;
		line-height: 1.8rem;

		li {
			margin-bottom: 4px;

			a {
				color: $color-blue;
				text-decoration: none;

				&:hover {
					color: $color-blue;
					text-decoration: underline;
				}
			}
		}
	}

	&__confirmation {
		color: #000;
		padding-top: 20px;
		font-weight: 700;
		font-size: 1.2rem;
		line-height: 1.4rem;

		a {
			color: $color-blue;
			text-decoration: underline;

			&:hover {
				color: $color-blue;
				text-decoration: none;
			}
		}
	}

	&__divider {
		padding-top: 50px;
		margin-bottom: 50px;
		border-bottom: 1px solid #89B6FF;
	}

	&__list {
		margin: 0;
		padding: 0;
		color: #000;
		list-style: none;
		font-weight: 400;
		font-size: 1.4rem;
		line-height: 1.8rem;

		li {
			margin-bottom: 6px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__works {
		padding: 0;
		color: #000;
		font-size: 1.4rem;
		line-height: 2rem;
		list-style: none;
		margin: 0 -15px -30px -15px;
		@include flexbox();
		@include flex-wrap(wrap);
		//	@include justify-content(space-between);

		> li {
			width: 50%;
			padding: 0 15px;
			margin-bottom: 30px;

			a {
				color: #000;
				display: block;
				position: relative;
				text-decoration: none;
			}

			span {
				top: 10px;
				right: 10px;
				font-size: 1.4rem;
				line-height: 2rem;
				position: absolute;
				display: inline-block;
			}
		}
	}

	@media (min-width: $screen-md-min) {
		@include flexbox();

		&__heading {
			text-align: right;

			&_title {
				font-size: 4rem;
				margin-bottom: 3px;
				color: $color-blue;
				text-transform: uppercase;

			}

			&_info {
				color: #5E5E5E;
				font-size: 3.4rem;
			}
		}

		&__nav {
			width: 210px;
			padding-right: 30px;
			@include flex-shrink(1);

			&_title {
				text-align: right;
			}

			ul {
				text-align: right;

				li {

					a {
					}
				}
			}
		}

		&__content {
			@include flex-grow(1);
		}

		&__works {

			> li {
				width: 33.33%;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		&__content {
			padding: 50px 30px 50px 40px;
		}
	}

	@media (min-width: $screen-xl-min) {

		&__content {
			padding: 60px 50px 50px 50px;
		}
	}

}

