
.footer {
	padding: 30px 0;
	@include gradient-vertical(#bee1f7, #e1f0f7);

	&__logo {
		width: 172px;
		display: block;
		margin-bottom: 15px;

		&_img {
			width: 172px;
			display: block;
		}

		&_text {

		}
	}

	&__info {
		width: 290px;
		color: #72A5E3;
		max-width: 290px;
		font-size: 1.3rem;
		line-height: 1.6rem;
		margin-bottom: 25px;
		@include flex-shrink(0);

		&_text {
			margin-bottom: 10px;
		}

		&_dev {

			a {
				color: #72A5E3;
				text-decoration: underline;

				&:hover {
					color: #72A5E3;
					text-decoration: none;
				}
			}
		}
	}

	&__social {
		padding: 0;
		font-size: 0;
		line-height: 0;
		margin: 0 -3px;
		list-style: none;
		@include flexbox();
		@include flex-wrap(wrap);

		li {
			margin: 0 3px 20px 3px;

			a {
				color: #fff;
				width: 31px;
				height: 31px;
				padding: 6px 0;
				font-size: 19px;
				line-height: 19px;
				text-align: center;
				background: #72A5E3;
				display: inline-block;
				text-decoration: none;
				@include border-radius(50%);

				&:hover {
					background: #4777E3;
				}
			}
		}
	}

	&__nav {
		margin: 0 0 25px 0;
		padding: 0;
		display: none;
		list-style: none;
		font-weight: 700;
		font-size: 1.2rem;
		line-height: 1.4rem;


		li {

			a {
				color: #fff;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	&__meta {
		max-width: 360px;
		margin-bottom: 20px;
		@include flexbox();

		ul {
			margin: 0;
			width: 50%;
			list-style: none;
			padding: 0 10px 0 0;

			li {

				a {
					color: #72A5E3;
					font-weight: 700;
					font-size: 1.4rem;
					line-height: 2rem;
					text-decoration: none;
					text-transform: uppercase;

					&:hover {
						color: #fff;
					}
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {
		padding-top: 60px;
		padding-bottom: 50px;

		&__row {
			@include flexbox();
		}

		&__info {
			margin-right: 20px;
			margin-bottom: 0;
		}

		&__contact {
			@include flexbox();
			@include flex-grow(1);

			&_left {
				width: 74px;
				@include flex-shrink(0);
			}

			&_right {
				padding-left: 30px;
				@include flex-grow(1);
			}
		}

		&__social {
			margin-bottom: 0;

			li {

				&:nth-child(3),
				&:nth-child(6) {
					margin-bottom: 0;
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-top: 260px;
		padding-bottom: 55px;
		background: url("../img/footer__bg.jpg") 50% 0 no-repeat;
		background-size: cover;


		&__contact {

			&_row {
				@include flexbox();
			}
		}

		&__meta {
			width: 300px;
			margin-bottom: 0;
			@include flex-shrink(0);
		}

		&__button {
			text-align: right;
			@include flex-grow(1);

			.btn_border_blue {
				color: #fff;

				&:hover {
					color: #fff;
				}
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		&__nav {
			@include flexbox();
			@include justify-content(space-between);
		}

		&__social {
			padding-top: 5px;
		}

		&__meta {
			width: 360px;

			ul {

				li {

					a {
						font-size: 1.6rem;
					}
				}
			}
		}

		&__button {

			.btn {
				padding-left: 80px;
				padding-right: 80px;
			}
		}
	}
}