.news {
	font-size: 1.6rem;
	margin-bottom: 50px;

	h2 {

		a {
			color: #3E383D;
			text-decoration: none;

			&:hover {
				color: $color-blue;
				text-decoration: none;
			}
		}
	}

	&__image {
		margin-bottom: 20px;
	}

	&__intro {

	}

	@media (min-width: $screen-md-min) {
		font-size: 1.8rem;

		h2 {
			margin-bottom: 30px;
		}

		&__image {
			margin-bottom: 30px;
		}
	}

	@media (min-width: $screen-lg-min) {

	}

	@media (min-width: $screen-xl-min) {
		font-size: 2.4rem;
		margin-bottom: 60px;

		h2 {
			margin-bottom: 40px;
		}

		&__image {
			margin-bottom: 40px;
		}
	}

}