.page {
	width: 100%;
	max-width: 100%;
	overflow: hidden;
	min-height: 100vh;
	@include flexbox();
	@include flex-direction(column);

	&.open_nav {
		height: 100vh;

		.header__nav {
			margin-left: 0;
			@include transition(.3s);
		}

		.header__toggle {
			@include rotate(90deg);
			@include transition(.3s);
		}
	}
}

.main {
	padding-top: 30px;
	padding-bottom: 50px;
	@include flex-grow(1);

	@media (min-width: $screen-lg-min) {
		padding-bottom: 100px;
	}
}


.profit {
	padding-top: 50px;
	padding-bottom: 40px;
	@include gradient-vertical(#91caff, #fff);

	&__heading {
		color: #fff;
		font-weight: 900;
		font-size: 2.4rem;
		line-height: 3rem;
		text-align: center;
		margin-bottom: 40px;
		text-transform: uppercase;
	}

	&__list {
		padding: 0;
		margin: 0 -15px;
		list-style: none;

		li {
			width: 305px;
			padding: 0 15px;
			position: relative;
			margin: 0 auto 30px auto;

			a {
				width: 100%;
				height: 186px;
				display: table;
				color: #3F4A56;
				background: #fff;
				overflow: hidden;
				margin: 0 auto;
				font-size: 1.6rem;
				line-height: 2.1rem;
				text-decoration: none;
				text-transform: uppercase;
				@include border-radius(15px);
				@include box-shadow(0px 0px 12px 0px rgba(184, 227, 255, 0.5));

				span {
					height: 175px;
					display: table-cell;
					vertical-align: middle;
					padding: 10px 20px 10px 90px;
				}
			}

			&:nth-child(1) {

				a {
					background: #fff url("../img/profit__icon_01.svg") -25px 0 no-repeat;
				}
			}

			&:nth-child(2) {

				a {
					background: #fff url("../img/profit__icon_02.svg") -20px 0 no-repeat;
				}
			}

			&:nth-child(3) {

				a {
					background: #fff url("../img/profit__icon_03.svg") -20px 0 no-repeat;

					span {
						padding-left: 105px;
					}
				}
			}

			&:nth-child(4) {

				a {
					background: #fff url("../img/profit__icon_04.svg") -20px 0 no-repeat;

					span {
						padding-left: 105px;
					}
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {
		padding-top: 70px;
		padding-bottom: 60px;

		&__heading {
			font-size: 4rem;
			line-height: 4.8rem;
			margin-bottom: 60px;
		}

		&__list {
			@include flexbox();
			@include flex-wrap(wrap);

			li {
				width: 50%;
			}

		}
	}

	@media (min-width: $screen-lg-min) {
		padding-top: 320px;
		padding-bottom: 150px;
		background: url("../img/profit__bg.jpg") 50% 0 no-repeat;

		&__heading {
			margin-bottom: 100px;
		}

		&__list {

			li {
				width: 25%;
				margin-bottom: 0;
			}
		}
	}
}

.become {
	padding-top: 20px;
	padding-bottom: 40px;

	&__heading {
		color: $color-blue;
		font-weight: 900;
		font-size: 2.4rem;
		line-height: 3rem;
		text-align: center;
		margin-bottom: 40px;
		text-transform: uppercase;
	}

	&__list {
		padding: 0;
		margin: 0 -15px 20px 0;
		list-style: none;

		li {
			color: #3F4A56;
			font-size: 2rem;
			line-height: 2.4rem;
			text-align: center;
			margin-bottom: 40px;
			position: relative;

			span {
				display: block;
				margin: 0 auto;
			}

			&:nth-child(1) {

				.become__image {
					width: 111px;
				}
			}

			&:nth-child(2) {

				.become__image {
					width: 127px;
				}
			}

			&:nth-child(3) {

				.become__image {
					width: 117px;
				}
			}

			&:nth-child(4) {

				.become__image {
					width: 89px;
				}
			}
		}
	}

	&__image {
		margin: 0 auto 20px auto;
	}

	@media (min-width: $screen-sm-min) {

	}

	@media (min-width: $screen-md-min) {

		&__heading {
			font-size: 4rem;
			line-height: 4.8rem;
			margin-bottom: 55px;
		}

		&__list {
			margin-bottom: 60px;
			@include flexbox();
			@include flex-wrap(wrap);

			li {
				width: 50%;

				&:nth-child(1) {
					padding-top: 19px;
				}

				&:nth-child(4) {
					padding-top: 13px;

				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-bottom: 0;
		background: url("../img/become__bg.jpg") 50% 0 no-repeat;

		&__list {
			margin-bottom: 450px;

			li {
				width: 25%;
				margin-bottom: 0;

				&:nth-child(1) {
					top: 260px;
					left: -30px;
				}

				&:nth-child(2) {
					top: 130px;

					span {
						width: 100px;
					}
				}


				&:nth-child(3) {
					top: 80px;
					left: 20px;

					span {
						width: 100px;
					}
				}


				&:nth-child(4) {
					padding-top: 0;

					span {
						width: 100px;
					}
				}
			}
		}
	}

	@media (min-width: $screen-xl-min) {

	}

}

.content {
	font-size: 1.6rem;

	p {
		margin: 0 0 15px 0;
	}

	@media (min-width: $screen-md-min) {
		font-size: 1.8rem;

	}

	@media (min-width: $screen-xl-min) {
		font-size: 2.4rem;

		p {
			margin: 0 0 30px 0;
		}
	}
}

.gallery {

	.swiper-pagination {

	}

	.swiper-button-next,
	.swiper-button-prev {
		display: none;
		width: 67px;
		height: 131px;
		margin-top: -65px;
		background: url("../img/icon__arrow_left.svg") 50% 50% no-repeat;
		background-size: cover;
	}

	.swiper-button-next {
		@include rotate(180deg);
	}

	@media (min-width: $screen-md-min) {

		.swiper-button-next,
		.swiper-button-prev {
			display: inline-block;
		}
	}

}

.status {
	width: 10px;
	height: 10px;
	margin-right: 8px;
	display: inline-block;
	@include border-radius(50%);

	&_yellow {
		background: #F7B422;
	}

	&_purple {
		background: #AA00D5;
	}

	&_green {
		background: #56BD5B;
	}

	&_red {
		background: #E34C4C;
	}
}

.filter {margin-bottom: 15px;

	ul {
		padding: 0;
		list-style: none;
		margin: 0 -5px 10px -5px;
		@include flexbox();
		@include flex-wrap(wrap);

		> li {
			padding: 0 5px;
			margin-bottom: 10px;

			&:first-child {

				.filter__item {
					text-transform: uppercase;
				}
			}
		}
	}

	&__item {
		font-size: 0;
		line-height: 0;
		font-weight: 400;
		display: inline-block;

		input {
			display: none;
		}

		span {
			color: #000;
			min-width: 130px;
			padding: 12px 15px;
			font-size: 1.4rem;
			line-height: 2rem;
			text-align: center;
			display: inline-block;
			border: 1px solid $color-blue;
			@include border-radius(3px);
		}

		input:checked + span {
			color: #fff;
			background: $color-blue;
		}
	}

	@media (min-width: $screen-lg-min) {

		ul {
			margin: 0 -10px 10px -10px;

			li {
				padding: 0 10px;
				margin-bottom: 15px;
			}
		}

		&__item {

			span {
				min-width: 150px;
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		ul {
			margin: 0 -15px 10px -15px;

			li {
				padding: 0 15px;
				margin-bottom: 15px;
			}
		}

		&__item {

			span {
				min-width: 170px;
			}
		}
	}
}

@media (min-width: $screen-sm-min) {

}

@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}

@media (min-width: $screen-xl-min) {

}
