
.btn {
	color: #fff;
	outline: none;
	cursor: pointer;
	font-weight: 700;
	font-size: 1.6rem;
	line-height: 2rem;
	user-select: none;
	text-align: center;
	background: #89B6FF;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	text-transform: uppercase;
	padding: 19px 40px 17px 40px;
	border: 2px solid transparent;

	@include border-radius(30px);
	@include transition(.2s);

	&:hover {
		color: #89B6FF;
		border-color: #89B6FF;
		text-decoration: none;
		background: transparent;
	}

	&:focus,
	&.focus {
		outline: 0;
	}

	@media (min-width: $screen-xl-min) {
		font-size: 2rem;
		padding: 19px 50px 17px 50px;
	}
}

.btn_border_blue {
	color: #89B6FF;
	border-color: #89B6FF;
	background: transparent;

	&:hover {
		color: #fff;
		background: #89B6FF;
	}
}

.btn_text_white {
	color: #fff;
}

.btn_lg {

	@media (min-width: $screen-lg-min) {
		font-weight: 900;
		font-size: 2.7rem;
		line-height: 3rem;
		padding: 34px 80px 32px 80px;
		@include border-radius(50px);
	}
}

.btn_sm {
	font-size: 1.6rem;
	line-height: 2rem;
	padding: 9px 25px 7px 25px;
	@include border-radius(20px);
}

.btn_xl {

	@media (min-width: $screen-lg-min) {
		min-width: 370px;
	}
}

.btn_long {

}

.btn_rose {
	background: #EB5757;

	&:hover {
		color: #EB5757;
		background: transparent;
		border-color: #EB5757;
	}
}

.btn_shadow {
	@include box-shadow(0px 0px 12px 0px rgba(126, 166, 204, 0.6));
}