.form_control {
	margin: 0;
	width: 100%;
	outline: none;
	height: 46px;
	color: #000;
	background: #fff;
	padding: 12px 20px;
	font-size: 1.4rem;
	line-height: 2rem;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #89B6FF;
	@include placeholder(#000);
	@include border-radius(3px);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus,
	&:active {
		outline: none;
		border-color: $color-blue;
		@include placeholder(transparent);
	}
}

textarea.form_control {
	height: auto;
}


.form_group {
	margin-bottom: 16px;

	&_input {
		max-width: 600px;
	}

	@media (min-width: $screen-lg-min) {

		&_inline {
			@include flexbox();
		}

		&_input {
			padding-left: 20px;
			@include flex-grow(1);

			&.offset {
				margin-left: 130px;
			}
		}
	}
}


.inline_label {
	color: #000;
	font-weight: 700;
	font-size: 1.4rem;
	line-height: 1.8rem;
	margin-bottom: 10px;
	text-transform: uppercase;


	@media (min-width: $screen-lg-min) {
		width: 130px;
		margin-bottom: 0;
		text-align: right;
		padding-right: 9px;
		border-right: 1px solid $color-blue;
		@include flexbox();
		@include flex-shrink(0);
		@include justify-content(flex-end);

		span {
			margin: auto 0;
			display: inline-block;
		}

		&_top {

			span {
				margin: 0;
			}
		}
	}
}

.form_file {
	width: 100%;
	cursor: pointer;
	font-weight: 400;
	position: relative;
	@include flexbox();

	&__input {
		display: none;
	}

	&__icon {
		top: 0;
		left: 0;
		width: 46px;
		height: 46px;
		position: absolute;
		background: url("../img/icon__camera.svg") 50% 50% no-repeat;
	}

	&__text {
		height: 46px;
		max-width: 100%;
		overflow: hidden;
		background: #fff;
		font-size: 1.4rem;
		line-height: 2rem;
		white-space: nowrap;
		display: inline-block;
		border: 1px solid #89B6FF;
		padding: 12px 20px 12px 46px;
		@include flex-grow(1);
		@include border-radius(3px 0 0 3px);

		span {
			max-width: 100%;
			overflow: hidden;
			display: inline-block;
		}
	}

	&__btn {
		color: #fff;
		width: 100px;
		height: 46px;
		padding: 13px;
		font-size: 1.2rem;
		line-height: 2rem;
		text-align: center;
		background: #9CC1FF;
		text-decoration: none;
		display: inline-block;
		text-transform: uppercase;
		@include flex-shrink();
		@include border-radius(0 3px 3px 0);

		&:hover {
			color: #fff;
			background: $color-blue;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__btn {
			width: 160px;
		}
	}
}


.form_label {
	color: #000;
	font-weight: 700;
	font-size: 1.4rem;
	display: inline-block;
	line-height: 1.8rem;
	margin-bottom: 5px;
	text-transform: uppercase;

	@media (min-width: $screen-md-min) {
		margin-bottom: 0;
	}
}

.form_checkbox {
	font-size: 0;
	line-height: 0;
	font-weight: 400;
	display: inline-block;

	input {
		display: none;
	}

	span {
		color: #000;
		cursor: pointer;
		font-weight: 700;
		font-size: 1.2rem;
		line-height: 1.8rem;
		padding-left: 25px;
		position: relative;
		display: inline-block;

		&:before {
			top: 0;
			left: 0;
			width: 18px;
			height: 18px;
			content: '';
			display: inline-block;
			position: absolute;
			background: #fff;
			border: 1px solid $color-blue;
			@include border-radius(3px);
		}

		&:after {
			top: 4px;
			left: 4px;
			width: 10px;
			height: 10px;
			content: '';
			opacity: 0;
			visibility: hidden;
			position: absolute;
			display: inline-block;
			background: $color-blue;
			@include border-radius(3px);
		}
	}


	input:checked + span {

		&:after {
			opacity: 1;
			visibility: visible;
		}
	}
}