table {
	width: 100%;
	max-width: 100%;
	border-collapse: collapse;
}

.table {
	margin-bottom: 30px;

	th {
		padding: 10px;
		text-align: left;
		font-weight: 700;
		font-size: 1.6rem;
		line-height: 2rem;
		color: $color-blue;
	}

	td {

	}

	tr {

		td {
			color: #313541;
			background: #fff;
			font-size: 1.4rem;
			line-height: 2rem;
			padding: 15px 10px;
			border-top: 1px solid #DFE6EE;
			border-bottom: 1px solid #DFE6EE;

			&:first-child {
				border-left: 1px solid #DFE6EE;
			}

			&:last-child {
				border-right: 1px solid #DFE6EE;
			}
		}

		&:nth-child(even) {

			td {
				background: #F4F7FA;
			}
		}

		&:hover {

			td {
				color: #fff;
				background: #9CC1FF;
			}
		}
	}

	.form_select_sm,
	.form_control_sm {
		max-width: 160px;
	}
}

@media (max-width: $screen-md-max) {

	.table_responsive {
		width: 100%;
		margin-bottom: 30px;
		overflow-y: hidden;
		overflow-x: scroll;
		-ms-overflow-style: -ms-autohiding-scrollbar;

		.table {
			margin-bottom: 0;
		}
	}
}

