.pagination {
	margin: 0 0 30px 0;
	padding: 0;
	font-size: 0;
	line-height: 0;
	list-style: none;
	@include flexbox();
	@include justify-content(center);

	li {
		margin-left: -1px;
		display: inline-block;

		a,
		span {
			color: #000;
			width: 50px;
			padding: 14px 0;
			font-size: 1.8rem;
			line-height: 2rem;
			text-align: center;
			display: inline-block;
			border: 1px solid #E1E8EF;
		}

		a {
			&:hover {
				color: #fff;
				background: $color-blue;
				border-color: $color-blue;
			}
		}

		&.active {

			a,
			span {
				color: #fff;
				background: $color-blue;
				border-color: $color-blue;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		li {

			a,
			span {
				width: 70px;
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		li {

			a,
			span {
				width: 100px;
				padding: 19px 0;
				font-size: 2.4rem;
				line-height: 3rem;
			}
		}
	}
}
